@use "base/normalize";
@import "abstracts/_text-styles";
@import "abstracts/_color-styles";

* {
    box-sizing: border-box;
    font-family: $font-roboto;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: $color-gray-light;
}
