@use "base/normalize";
@import "abstracts/text-styles";
@import "abstracts/color-styles";
@import "layout/header";
@import "layout/animal";
@import "layout/backstage";
@import "layout/cards";
@import "layout/feed-friend";
@import "layout/footer";

* {
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    overflow-x: hidden;
}
