@import "../abstracts/text-styles";
@import "../abstracts/color-styles";
@import "../components/button";

.animal {
    max-width: 1600px;
    margin: -80px auto 0;
    background-image: url(../assets/images/panda.jpg);
    height: 780px;
    .ellipse {
        position: absolute;
        right: 20.5%;
        top: 92px;
        width: 465px;
        height: 465px;
        border-radius: 230px;
        background: $gradient-orange;
    }
    .text {
        position: absolute;
        width: 500px;
        height: 400px;
        right: 14%;
        top: 167px;
        text-align: center;
        color: $color-white;
        padding-left: 7px;
        p {
            margin: 0;
            @include h1;
        }
        h2 {
            margin: 0;
            @include h1;
            color: $color-yellow;
        }
    }
    button {
        position: absolute;
        width: 298px;
        height: 54px;
        left: calc(50% - 298px / 2 + 332px);
        top: 626px;
    }
}

@media (max-width: 1400px) {
    .animal {
        max-width: 1000px;
        background-image: url(../assets/images/panda_small_desktop.jpg);
        height: 584px;
        .ellipse {
            position: absolute;
            right: 17.8%;
            top: 70px;
            width: 367px;
            height: 367px;
            z-index: 0;
        }
        .text {
            width: 400px;
            height: 320px;
            right: 9%;
            top: 123px;
            p {
                @include h1-small;
            }
            h2 {
                @include h1-small;
            }
        }
        button {
            position: absolute;
            width: 298px;
            height: 54px;
            left: 56.5%;
            top: 483px;
        }
    }
}
