@import "../abstracts/text-styles";
@import "../abstracts/color-styles";
@import "../components/button";
@import "../components/nav-hamburger";

.animal {
    // max-width: 1600px;
    width: 100%;
    margin: -80px auto 0;
    background-image: url(../assets/images/panda.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 780px;
    .ellipse {
        position: absolute;
        right: 20.5%;
        top: 92px;
        width: 465px;
        height: 465px;
        border-radius: 230px;
        background: $gradient-orange;
    }
    .text {
        position: absolute;
        width: 500px;
        height: 400px;
        right: 14%;
        top: 167px;
        text-align: center;
        color: $color-white;
        padding-left: 7px;
        p {
            margin: 0;
            @include h1;
        }
        h2 {
            margin: 0;
            @include h1;
            color: $color-yellow;
        }
    }
    button {
        position: absolute;
        width: 298px;
        height: 54px;
        left: calc(50% - 298px / 2 + 332px);
        top: 626px;
    }
}

@media (max-width: 1400px) {
    .animal {
        // max-width: 1000px;
        width: 100%;
        background-image: url(../assets/images/panda_small_desktop.jpg);
        height: 584px;
        .ellipse {
            position: absolute;
            right: 17.8%;
            top: 70px;
            width: 367px;
            height: 367px;
            z-index: 0;
        }
        .text {
            width: 400px;
            height: 320px;
            right: 9%;
            top: 123px;
            p {
                @include h1-small;
            }
            h2 {
                @include h1-small;
            }
        }
        button {
            position: absolute;
            width: 298px;
            height: 54px;
            left: 56.5%;
            top: 483px;
        }
    }
}

@media (max-width: 950px) {
    .animal {
        // max-width: 640px;
        width: 100%;
        background-image: url(../assets/images/panda_tablet.jpg);
        height: 373px;
        margin-top: 0;
        .ellipse {
            position: absolute;
            right: 11%;
            top: 44px;
            width: 237px;
            height: 237px;
        }
        .text {
            width: 255px;
            height: 204px;
            right: 3%;
            top: 84px;
            p {
                font-size: 54px;
            }
            h2 {
                font-size: 54px;
            }
        }
        button {
            left: 3%;
            top: 279px;
        }
    }
}

@media (max-width: 610px) {
    .animal {
        // max-width: 320px;
        width: 100%;
        background-image: url(../assets/images/panda_m.jpg);
        // background-repeat: no-repeat;
        height: 187px;
        margin: 34px auto 0;
        .ellipse {
            position: absolute;
            right: 12%;
            top: 56px;
            width: 119px;
            height: 119px;
        }
        .text {
            width: 128px;
            height: 102px;
            right: 4.6%;
            top: 75px;
            p {
                font-size: 28px;
            }
            h2 {
                font-size: 28px;
            }
        }
        button {
            left: 3%;
            top: 241px;
        }
    }
}
