@import "../abstracts/text-styles";
@import "../abstracts/color-styles";
@import "../components/button";
@import "../components/carousel";
@import "../components/grid-position";

.animals-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 97px;
    button {
        width: 298px;
        height: 54px;
        margin-top: 80px;
        padding-right: 2px;
    }
    .palm {
        position: absolute;
        width: 855px;
        height: 460px;
        left: -585px;
        top: 2149px;
        background-image: url(../assets/svg/palm_foto.svg);
    }
    .strelitzia {
        position: absolute;
        width: 368px;
        height: 275px;
        right: 0%;
        top: 2334px;
        background-image: url(../assets/svg/strelitzia.svg);
    }
}
.animals-cards {
    display: flex;
    align-items: center;
    width: calc(84vw - 20px);
    margin: 0 auto;
    .left-right {
        width: 62px;
        height: 62px;
        margin-bottom: 5px;
        border-radius: 50px;
        cursor: pointer;
        background-color: $color-orange;
        transition-duration: 300ms;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            transition-duration: 300ms;
        }
        &:active {
            background-color: $color-green;
        }
    }
    .left-button {
        background-image: url(../assets/svg/arr_left.svg);
    }
    .right-button {
        background-image: url(../assets/svg/arr_right.svg);
    }
}
.cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    width: calc(74vw - 26px);
    background-color: $color-white;
    margin: 0 auto;
    .card {
        display: flex;
        flex-direction: column;
        width: calc(24vw - 18px);
        border: solid 1px #fe9013;
        border-radius: 5px;
        transition: background-size 1000ms;
        &:hover {
            cursor: pointer;
            .img {
                filter: brightness(40%);
                background-size: 103%;
                transition: filter 1000ms, background-size 1000ms;
            }
            .description {
                transform: translate(0, -80px);
                color: $color-white;
                transition: transform 1000ms, color 1000ms;
            }
        }
    }
    .img {
        background-repeat: no-repeat;
        width: 100%;
        height: 366px;
        background-size: 100%;
        transition: filter 1000ms, background-size 1000ms;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .description {
        width: 100%;
        background-repeat: no-repeat;
        padding-left: 15px;
        transition: transform 1000ms, color 1000ms;
        h3 {
            @include description_h3;
            margin: 8px 0 -1px;
        }
        p {
            @include description;
            margin: 0 0 12px;
        }
    }
    .banana {
        background-image: url(../assets/svg/banana-bamboo_icon.svg);
        background-position: bottom 12px right 12px;
    }
    .meet {
        background-image: url(../assets/svg/meet-fish_icon.svg);
        background-position: bottom 13px right 8px;
    }
}

@media (max-width: 1400px) {
    .animals-cards-container {
        padding-bottom: 137px;
        button {
            width: 298px;
            height: 54px;
            margin-top: 80px;
            padding-right: 2px;
        }
        .palm {
            left: 0;
            top: 2126px;
            background-image: url(../assets/svg/palm_foto_small_desktop.svg);
            background-repeat: no-repeat;
        }
        .strelitzia {
            width: 240px;
            height: 275px;
            top: 2148px;
            background-image: url(../assets/svg/strelitzia_small_desktop.svg);
            background-repeat: no-repeat;
        }
    }
    .animals-cards {
        width: calc(100vw - 20px);
        position: relative;
        .left-right {
            position: absolute;
            top: 370px;
            width: 62px;
            height: 62px;
        }
        .left-button {
            position: absolute;
            z-index: 2;
            background-image: url(../assets/svg/arr_left.svg);
            left: 35%;
        }
        .right-button {
            background-image: url(../assets/svg/arr_right.svg);
            right: 35%;
        }
    }
    .cards {
        grid-column-gap: 29px;
        grid-row-gap: 92px;
        width: calc(97vw - 26px);
        .card {
            width: calc(30vw - 5px);
        }
        .img {
            height: 295px;
            background-size: 101%;
        }
        .banana {
            background-image: url(../assets/svg/banana-bamboo_icon.svg);
            background-position: bottom 12px right 12px;
        }
        .meet {
            background-image: url(../assets/svg/meet-fish_icon.svg);
            background-position: bottom 13px right 8px;
        }
    }
}

@media (max-width: 950px) {
    .animals-cards-container {
        padding-bottom: 101px;
        button {
            margin-top: 59px;
        }
        .palm {
            top: 1649px;
            width: 150px;
            background-image: url(../assets/images/palm_foto_tablet.png);
        }
        .strelitzia {
            width: 176px;
            top: 1720px;
            background-image: url(../assets/images/strelitzia_tablet.png);
        }
    }
    .animals-cards {
        width: 100%;
        .left-right {
            top: 343px;
        }
        .left-button {
            background-image: url(../assets/svg/arr_left.svg);
            left: 37.5%;
        }
        .right-button {
            background-image: url(../assets/svg/arr_right.svg);
            right: 37.5%;
        }
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 91px;
        width: calc(95vw - 8px);
        .card {
            width: calc(46vw - 9px);
        }
        .img {
            height: 285px;
        }
        .description {
            padding-left: 10px;
            h3 {
                font-size: 13px;
                margin: 7px 0 -2px;
            }
            p {
                font-size: 12px;
                margin-bottom: 8px;
            }
        }
        .banana {
            background-position: bottom 7px right 7px;
            background-size: 10%;
        }
        .meet {
            background-position: bottom 13px right 8px;
            background-size: 10%;
        }
    }
}

@media (max-width: 610px) {
    .animals-cards-container {
        padding-bottom: 58px;
        button {
            margin-top: 20px;
        }
        .palm {
            top: 2203px;
            width: 55px;
            background-image: url(../assets/images/palm_foto_m.png);
        }
        .strelitzia {
            width: 68px;
            top: 2208px;
            background-image: url(../assets/images/strelitzia_m.png);
        }
    }
    .animals-cards {
        .left-right {
            display: none;
        }
    }
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        width: calc(91vw - 8px);
        .card {
            width: calc(91vw - 9px);
        }
    }
}
