@import "../abstracts/_text-styles";
@import "../abstracts/_color-styles";
@import "../components/button";

footer {
    height: 443px;
    background: #111115;
}

.wrapper-footer {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 25px;
    .logo-sub {
        display: flex;
        justify-content: space-between;
    }
    h2 {
        width: 82px;
        padding-bottom: 4px;
        background-image: url(../assets/svg/bamboo.svg);
        background-repeat: no-repeat;
        background-position: bottom 6px left 10px;
        text-align: center;
        border: 1.18841px solid #ffffff;
        @include logo;
    }
    a {
        color: $color-white;
        transition: color 500ms;
        &:hover {
            color: $color-orange-light;
            transition: color 500ms;
        }
    }
    button {
        width: 298px;
        height: 54px;
        border-radius: 5px;
        margin-top: 53px;
        &:hover {
            box-shadow: 0px 5px 10px 2px rgba(250, 250, 250, 0.1);
        }
    }
    .social-nav {
        display: flex;
    }
    .social {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        a {
            margin-top: 10px;
            transition: transform 500ms;
            &:hover {
                filter: invert(33%) sepia(20%) saturate(1267%) hue-rotate(61deg) brightness(101%) contrast(101%);
                transition: transform 500ms;
            }
        }
    }
    .facebook {
        width: 111px;
        height: 26px;
        background-image: url(../assets/svg/facebook.svg);
        background-repeat: no-repeat;
    }
    .twitter {
        width: 111px;
        height: 26px;
        background-image: url(../assets/svg/twitter.svg);
        background-repeat: no-repeat;
    }
    .instagram {
        width: 111px;
        height: 26px;
        background-image: url(../assets/svg/instagram.svg);
        background-repeat: no-repeat;
    }
    .youtube {
        width: 111px;
        height: 26px;
        background-image: url(../assets/svg/youtube.svg);
        background-repeat: no-repeat;
    }
    .two {
        display: flex;
        align-items: flex-end;
        max-width: 792px;
        height: 195px;
        padding-left: 19.4%;
        li:nth-child(4) {
            width: 100px;
            padding-left: 21px;
        }
    }
    .three {
        width: 31.7%;
    }
    .three .email {
        color: $color-white;
        @include h3;
    }
    form {
        margin-top: 16px;
    }
    .submit {
        width: 129px;
        height: 42px;
        color: $color-black;
        border: 1px solid $color-black-blue;
        background: $color-gray-light;
        border-radius: 5px;
        margin-left: 6px;
    }
    .text-three {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // position: relative;
        // top: 110px;
        // left: 168px;
        height: 174px;
        padding-left: 14.5%;
        color: $color-white;
        @include text-three;
        p {
            margin-bottom: -5px;
        }
    }
}
#email {
    width: 228px;
    height: 42px;
    border: solid 0.7px $color-orange;
    margin-top: 13px;
    color: #bdbdbd;
    background-color: #111115;
    padding-left: 10px;
    @include feed_p;
    &:focus:required:invalid,
    &:focus:required:invalid ~ .submit {
        border: 1px solid $color-red;
        color: $color-red;
    }
    &:focus:required,
    &:focus:required ~ .submit {
        border: 1px solid $color-green;
        color: $color-green;
    }
}

@media (max-width: 1400px) {
    .wrapper-footer {
        max-width: 960px;
        margin: 0 auto;
        padding: 25px 0 0 25px;
        .logo-sub {
            display: flex;
            justify-content: space-between;
            padding-right: 25px;
        }
        .social-nav {
            display: flex;
        }
        .two {
            max-width: 792px;
            padding-left: 12.7%;
            li:nth-child(4) {
                width: 100px;
                padding-left: 14px;
            }
            li {
                width: 86px;
            }
        }
        .three {
            width: 40.8%;
        }
        .submit {
            margin-left: 4px;
        }
        .text-three {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 174px;
            padding-left: 8.5%;
        }
    }
}
