@import "../abstracts/text-styles";
@import "../abstracts/color-styles";

header {
    position: relative;
    height: 80px;
    background: #000000;
    backdrop-filter: blur(2px);
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 72.5%;
        height: 100%;
        margin: 0 auto;
    }
    .logo-nav {
        display: flex;
        align-items: center;
    }
    h1 {
        width: 82px;
        padding-top: 4px;
        background-image: url(../assets/svg/bamboo.svg);
        background-repeat: no-repeat;
        background-position: bottom 6px left 10px;
        text-align: center;
        border: 1.18841px solid #ffffff;
        @include logo;
    }
    a {
        color: $color-white;
        transition: color 500ms;
        &:hover {
            color: $color-orange-light;
            transition: color 500ms;
        }
    }
    p {
        @include medium;
        color: #ffffff;
    }
    .hamburger {
        display: none;
    }
}

ul {
    display: flex;
    margin-left: -0.7%;
    li {
        width: 96px;
        text-align: center;
        a {
            @include medium;
            color: $color-white;
            transition: color 500ms;
            &:hover {
                color: $color-orange-light;
                transition: color 500ms;
            }
        }
        &:nth-child(5) {
            width: 116px;
            margin-left: 18px;
        }
        &:nth-child(3) a {
            margin-left: -9px;
        }
    }
    .active a {
        color: $color-orange;
        cursor: default;

        &:hover {
            color: $color-orange;
        }
    }
}

@media (max-width: 1400px) {
    header {
        position: relative;
        z-index: 2;
        .container {
            width: 94%;
        }

        ul {
            margin-left: 0;
            li {
                width: 87px;
                text-align: center;
                &:nth-child(5) {
                    margin-left: 9px;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    header {
        height: 34px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        .container {
            width: 94%;
            h1 {
                width: 46px;
                font-size: 12px;
                border: none;
                line-height: 129%;
                background-position: bottom 5px left 0;
            }
            nav,
            p {
                display: none;
            }
            .hamburger,
            .hamburger::after,
            .hamburger::before {
                display: block;
                background-color: $color-white;
                // transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
                border-radius: 2px;
                width: 18px;
                height: 2px;
            }
            .hamburger::after {
                content: "";
                position: relative;
                bottom: 6px;
                right: 0;
            }
            .hamburger::before {
                content: "";
                position: relative;
                top: 4px;
                left: 0;
            }
        }
    }
}

@media (max-width: 610px) {
    header {
        .container {
            width: 94%;
        }
    }
}
