@import "../abstracts/text-styles";
@import "../abstracts/color-styles";
@import "../components/button";

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 140px auto 180px;
    width: 1160px;
    height: 600px;
    h2 {
        // text-align: center;
        margin: 1px 0 46px;
        color: $color-black-blue;
        @include h3-36;
    }
    .line-scroll {
        margin: 22px 0;
        -webkit-appearance: none;
        appearance: none;
        width: 599px;
        height: 8px;
        background: #f5f7f6;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        border: solid 0.5px transparent;
        background: linear-gradient($color-gray-light, $color-gray-light) padding-box, $gradient-pink border-box;
        border-radius: 5px;
        &:hover {
            opacity: 1;
        }
    }
    & ::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 115px;
        height: 6px;
        background: $color-orange-light;
        cursor: pointer;
    }
    .wrapper-button {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 70px;
    }
    button {
        position: relative;
        left: 0;
        bottom: 0;
        width: 298px;
        height: 54px;
        border-radius: 5px;
        color: $color-white;
        background: $gradient-orange;
    }
    .leaf {
        position: absolute;
        top: 4258px;
        right: 0%;
        width: 247px;
        height: 275px;
        background-image: url(../assets/svg/leav_foto.svg);
    }
}

.testimonials-cards {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    height: 391px;
    .testimonials-card {
        width: 266px;
        height: 391px;
    }
    .one {
        background-image: url(../assets/images/testimonials-one.jpg);
    }
    .two {
        background-image: url(../assets/images/testimonials-two.jpg);
    }
    .three {
        background-image: url(../assets/images/testimonials-three.jpg);
    }
    .four {
        background-image: url(../assets/images/testimonials-four.jpg);
    }
}
