@import "../abstracts/color-styles";

.watch-online {
    background-color: $color-black-blue;
    .youtube {
        display: flex;
        width: 100%;
        margin: 0 auto;
        border: 0;
    }
}
