$color-orange: #f9804b;
$color-orange-light: #fe9013;
$color-yellow: #ffee2e;
$color-green: #4b9200;
$color-white: #ffffff;
$color-black-blue: #333b41;
$color-gray: #767474;
$color-gray-smoky: #ababab;
$color-gray-light: #f1f3f2;
$gradient-orange: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$gradient-pink: linear-gradient(300deg, #febdab 74%, #febdab 66%, #e0d8f0 100%, #eaf7fe 100%, #eaf7fe 100%);
