@font-face {
    font-family: "Roboto-Light";
    src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("../assets/fonts/Roboto-Bold.ttf");
}

$font-roboto: "Roboto", sans-serif;

@mixin h1 {
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 106.5px;

    line-height: 75%;
}

@mixin logo {
    font-family: "Roboto-Light";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
}

@mixin light {
    font-family: "Roboto-Light";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
}
