@font-face {
    font-family: "Georgia";
    src: local("../assets/fonts/Georgia.ttf");
}
@font-face {
    font-family: "Arial";
    src: local("../assets/fonts/ayar.ttf");
}

$font-georgia: Georgia, "Times New Roman", Times, serif;
$font-arial: Arial, Helvetica, sans-serif;

@mixin h2 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

@mixin h3 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

@mixin h3-mobile {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

@mixin h4 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
@mixin h5 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

@mixin h5-modal-window {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

@mixin paragraph-l {
    font-family: "Arial";
    font-size: 15px;
    line-height: 160%;
}

@mixin paragraph-s {
    font-family: "Arial";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

@mixin paragraph-mobile-menu {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
}

@mixin logo_title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    // color: #c4c4c4;
}

@mixin logo_subtitle {
    font-family: "Arial";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}
