@import "./testimonials-card";

.testimonials-cards {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.testimonials-cards-container {
    position: relative;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.testimonials-card {
    position: relative;
    width: 16.5vw;
    margin-right: 30px;
}

@media (max-width: 1400px) {
    .testimonials-card {
        position: relative;
        width: 29vw;
        margin-right: 30px;
    }
}

@media (max-width: 950px) {
    .testimonials-card {
        position: relative;
        width: 87vw;
        margin-right: 0;
    }
    .four,
    .fife,
    .six,
    .seven,
    .eight,
    .nine,
    .ten,
    .eleven {
        display: none;
    }
}
