@use "components/button";
@use "normalize";

$color-primary: #f1cdb3;
$color-light-xl: #ffffff;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$font-georgia: Georgia, "Times New Roman", Times, serif;
$font-arial: Arial, Helvetica, sans-serif;

* {
    box-sizing: border-box;
    font-family: $font-georgia;
}

body {
    background-image: url("../assets/img/start-screen-gradient-background.jpg"),
        url("../assets/img/start-screen-background.jpg");
    max-width: 1280px;
    padding: 60px 40px 0;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    h1 {
        color: $color-primary;
        font-size: 32px;
        font-weight: 400;
        margin: 0;
        letter-spacing: 0.06em;
    }

    p {
        font-family: $font-arial;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        margin-top: 10px;
        color: $color-light-xl;
    }

    nav {
        font-family: $font-arial;
        font-size: 15px;
        font-weight: 400;

        ul {
            display: flex;
        }
        li {
            width: 115px;
            text-align: center;
        }
        .active {
            border-bottom: 3px solid $color-primary;
            padding-bottom: 5px;
            a {
                color: $color-light-s;
            }
        }
        a {
            font-family: $font-arial;
            color: #cdcdcd;
            text-decoration: none;
        }
    }
}

.start {
    background-image: url("../assets/svg/start-screen-puppy.svg");
    background-repeat: no-repeat;
    background-position: right;
    height: 728px;
    margin-top: 60px;
}
