footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 5rem;
    background-color: $color-primary;
    color: white;
    text-align: center;
    a {
        color: white;
    }
}

.rs img {
    width: 25%;
}
