header {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
}

.logo {
  a {
    display: block;
    width: 200px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/svg/logo.svg);
    filter: invert(50%) sepia(55%) saturate(3922%) hue-rotate(358deg) brightness(100%) contrast(108%);
    margin: 20px 0;
    cursor: pointer;
  }
}
nav {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 950px) {
  .header-container {
    flex-direction: column;
  }
  nav {
    width: 80%;
  }
}

@media screen and (max-width: 630px) {
  // .header-container {
  //   flex-direction: column;
  // }
  nav {
    width: 100%;
  }
}
