.body-score {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-score {
    margin: 0;
}

.main-score {
    flex: 1;
    margin: 0;
}

.table-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .table {
        text-align: center;
        width: 70%;
        th,
        tr,
        td {
            border: solid 1px white;
        }
    }
}
