@import "../abstracts/_text-styles";
@import "../abstracts/_color-styles";

.start button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    width: 208px;
    bottom: 0px;
    background: $color-primary;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin-top: 43px;
    border: none;
    color: $color-dark-3xl;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
}
